*{
    padding: 0;
    margin: 0;
    font-family:'Malgun Gothic'
}

.App{
    margin: 1.5rem;
}

.movies{
    display: flex;
    flex-wrap: wrap;
}



.title{
    padding-right: 3rem;
}

.title h1{
    color: black;
    text-align: center;
    padding-bottom: 2rem;
}

